@font-face {
    font-family: 'Onest';
    src: local('Onest Regular'), local('Onest-Regular'),
        url('/src/fonts/Onest-Regular.woff2') format('woff2'),
        url('/src/fonts/Onest-Regular.woff') format('woff'),
        url('/src/fonts/Onest-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: local('Onest Medium'), local('Onest-Medium'),
        url('/src/fonts/Onest-Medium.woff2') format('woff2'),
        url('/src/fonts/Onest-Medium.woff') format('woff'),
        url('/src/fonts/Onest-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: local('Onest Bold'), local('Onest-Bold'),
        url('/src/fonts/Onest-Bold.woff2') format('woff2'),
        url('/src/fonts/Onest-Bold.woff') format('woff'),
        url('/src/fonts/Onest-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}