// // Variable overrides second
$white: #FFFFFF;
$black: #203754;
$black-dark: #1C222E;
$celestial-light: #D9EEFF;
$celestial: #2A84FE;
$gray-light: #F5F7F9;
$gray-medium: #E6ECF1;
$gray: #5F7789;
$gray-dark: #254761;
$divider: #CFD8E1;
$green: #0FD05E;

$bg-white: $white;
$bg-gray-light: $gray-light; 
$bg-celestial: #E0ECF8;
$bg-celestial-dark: #BCD7F2;

$enable-shadows: true;
$prefix: "mate-";

$container-max-widths: (
  xxxs: 100%,
  xxs: 100%,
  xs: 100%,
  sm: 504px,
  md: 714px,
  lg: 954px,
  xl: 1314px
);

$grid-breakpoints: (
  xxxs: 0,
  xxs: 360px,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 991px,
  xl: 1320px,
  xxl: 1920px,
);

$grid-gutter-width: 1.5rem;
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  10px: 10px,
  15px: 15px,
  20px: 20px,
  30px: 30px,
  40px: 40px,
  50px: 50px,
  95px: 95px,
  270px: 270px
);
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  20px: 20px,
  30px: 30px,
  50px: 50px,
  60px: 60px
);