.hero {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 80px;

    .title-hero-group {
        padding-top: 100px;
        padding-bottom: 200px;
    }

    &.about-hero {
        background-image: url('/images/hero/hero-about-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }

    &.honors-hero {
        background-image: url('/images/hero/hero-honors-bg.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }

    &.account-types-hero {
        background-image: url('/images/hero/hero-account-types-bg.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }

    &.esg-hero {
        background-image: url('/images/hero/hero-esg-bg.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }

    &.islamic-accounts-hero {
        background-image: url('/images/hero/hero-islamic-accounts-bg.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }
    
    @media (max-width: 1320px) {
        min-height: 530px;

        .title-hero-group {
            padding-top: 75px;
        }
    }

    @media (max-width: 991px) {
        min-height: 760px;

        .title-hero-group {
            padding-top: 50px;
        }

        &.about-hero {
            background-image: url('/images/hero/hero-about-bg-tablet.png');
            background-repeat: no-repeat;
            background-size: 970px;
            background-position: center top;
        }

        &.honors-hero {
            background-image: url('/images/hero/hero-honors-bg-tablet.webp');
            background-repeat: no-repeat;
            background-size: 970px;
            background-position: center top;
        }

        &.account-types-hero {
            background-image: url('/images/hero/hero-account-types-bg-tablet.webp');
            background-repeat: no-repeat;
            background-size: 970px;
            background-position: center top;
        }

        &.esg-hero {
            background-image: url('/images/hero/hero-esg-bg-tablet.webp');
            background-repeat: no-repeat;
            background-size: 970px;
            background-position: center top;
        }

        &.islamic-accounts-hero {
            background-image: url('/images/hero/hero-islamic-accounts-bg-tablet.webp');
            background-repeat: no-repeat;
            background-size: 970px;
            background-position: center top;
        }
    }

    @media (max-width: 768px) {
        min-height: 710px;
        margin-bottom: 60px;

        .title-hero-group {
            padding-top: 50px;
        }
    }

    @media (max-width: 480px) {
        min-height: 580px;
        margin-bottom: 40px;

        .title-hero-group {
            padding-top: 50px;
        }

        &.about-hero {
            background-image: url('/images/hero/hero-about-bg-mobile.png');
            background-repeat: no-repeat;
            background-size: 470px;
            background-position: center top;
        }

        &.honors-hero {
            background-image: url('/images/hero/hero-honors-bg-mobile.webp');
            background-repeat: no-repeat;
            background-size: 470px;
            background-position: center top;
        }

        &.account-types-hero {
            background-image: url('/images/hero/hero-account-types-bg-mobile.webp');
            background-repeat: no-repeat;
            background-size: 470px;
            background-position: center top;
        }

        &.esg-hero {
            background-image: url('/images/hero/hero-esg-bg-mobile.webp');
            background-repeat: no-repeat;
            background-size: 470px;
            background-position: center top;
        }

        &.islamic-accounts-hero {
            background-image: url('/images/hero/hero-islamic-accounts-bg-mobile.webp');
            background-repeat: no-repeat;
            background-size: 470px;
            background-position: center top;
        }
    }

    @media (max-width: 360px) {
        &.about-hero {
            background-size: 370px;
        }

        &.honors-hero {
            background-size: 370px;
        }

        &.account-types-hero {
            background-size: 370px;
        }

        &.esg-hero {
            background-size: 370px;
        }

        &.islamic-accounts-hero {
            background-size: 370px;
        }
    }
}