.info {
    &__box {
        border-radius: 30px;
        background-color: $bg-gray-light;
    }
    
    &__banner {
        padding-top: 185px;
        padding-bottom: 185px;
        background-image: url('/images/info/image-bg-1.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 280px) center;
        background-size: contain;
    }

    &__bg-image-block {
        &.--bg-1 {
            border-radius: 30px;
            height: 100%;
            width: 100%;
            background-image: url('/images/info/image-bg-6.webp');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        &.--bg-2 {
            border-radius: 30px;
            height: 460px;
            width: 100%;
            background-image: url('/images/info/image-bg-7.webp');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        &.--bg-3 {
            border-radius: 30px;
            height: 520px;
            width: 100%;
            background-image: url('/images/info/image-bg-8.webp');
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
        }

        &.--bg-4 {
            border-radius: 30px;
            height: 460px;
            width: 100%;
            background-image: url('/images/info/image-bg-9.webp');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 470px; 
        }

        @media (max-width: 1320px) {
            &.--bg-2 {
                height: 320px;
            }

            &.--bg-3 {
                height: 360px;
            }

            &.--bg-4 {
                height: 330px;
                background-size: 330px;   
            }
        }

        @media (max-width: 991px) {
            &.--bg-1 {
                height: 400px;
            }
        }

        @media (max-width: 768px) {
            &.--bg-2 {
                height: 200px;
            }
            &.--bg-3 {
                height: 300px;
            }
            &.--bg-4 {
                height: 330px;
                background-size: 330px;   
            }
        }

        @media (max-width: 360px) {
            &.--bg-4 {
                height: 330px;
                background-size: calc(100% - 40px);   
            }
        }
    }


    @media (max-width: 1320px) {
        &__banner {
            padding-top: 110px;
            padding-bottom: 110px;
        }
    }

    @media (max-width: 991px) {
        &__banner {
            padding-top: 110px;
            padding-bottom: 300px;
            background-position: bottom right;
            background-size: 480px;
        }
    }

    @media (max-width: 768px) {
        &__banner {
            padding-top: 70px;
            padding-bottom: 330px;
            background-position: bottom right;
            background-size: 450px;
        }
    }

    @media (max-width: 576px) {}

    @media (max-width: 480px) {
        &__banner {
            padding-top: 50px;
            padding-bottom: 250px;
            background-position: bottom right;
            background-size: 330px;
        }
    }

    @media (max-width: 360px) {}
}