.info {
    &__banner {
        padding-top: 185px;
        padding-bottom: 185px;
        background-image: url('/images/info/image-bg-1.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 280px) center;
        background-size: contain;
    }

    &__bg-image-block {
        &.--bg-1 {
            border-radius: 30px;
            width: 100%;
            background-image: url('/images/info/image-bg-5.webp');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        @media (max-width: 991px) {
            &.--bg-1 {
                height: 400px;
            }
        }

        @media (max-width: 768px) {
            &.--bg-1 {
                height: 250px;
            }
        }

        @media (max-width: 480px) {
            &.--bg-1 {
                height: 180px;
            }
        }
    }


    @media (max-width: 1320px) {
        &__banner {
            padding-top: 110px;
            padding-bottom: 110px;
        }
    }

    @media (max-width: 991px) {
        &__banner {
            padding-top: 110px;
            padding-bottom: 300px;
            background-position: bottom right;
            background-size: 480px;
        }
    }

    @media (max-width: 768px) {
        &__banner {
            padding-top: 70px;
            padding-bottom: 330px;
            background-position: bottom right;
            background-size: 450px;
        }
    }

    @media (max-width: 576px) {}

    @media (max-width: 480px) {
        &__banner {
            padding-top: 50px;
            padding-bottom: 250px;
            background-position: bottom right;
            background-size: 330px;
        }
    }

    @media (max-width: 360px) {}
}