.card-info {
    background-color: $celestial-light;
    border-radius: 40px;
    padding: 50px;
    height: 100%;

    &__content {
        &--image {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            img {
                max-width: 100%;
            }
        }
    }

    @media (max-width: 1320px) {
        padding: 50px 20px;
    }

    @media (max-width: 991px) {
        padding: 30px 20px;
        border-radius: 30px;
    }

    @media (max-width: 768px) {

    }

    @media (max-width: 480px) {
        padding: 30px 10px;
        border-radius: 20px;
    }
}