* {
    font-family: 'Onest', sans-serif;
}

body {
    background-color: $bg-white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex-grow: 1;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 20px;
    border-radius: 30px;

    @media (max-width: 991px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    @media (max-width: 768px) {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: 0;
        margin-right: 0;
    }

    @media (max-width: 480px) {}
}

img {
    max-width: 100%;
}

.color {
    &--black {
        color: $black;
    }

    &--white {
        color: $white;
    }

    &--gray-light {
        color: $gray-light;
    }

    &--gray {
        color: $gray;
    }

    &--gray-dark {
        color: $gray-dark;
    }

    &--divider {
        color: $divider;
    }

    &--gradient {
        background: linear-gradient(180deg, #E0ECF8 0%, #FFFFFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &--gradient-blue {
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

.bg {
    &--black-dark {
        background-color: $black-dark;
    }

    &--gray-light {
        background-color: $bg-gray-light
    }

    &--celestial {
        background-color: $bg-celestial;
    }
}

@media (max-width: 1320px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 480px) {}

@media (max-width: 360px) {}