.header {
    min-height: 100px;

    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-logo {
        display: flex;
        align-items: center;
    }

    &-controls {
        display: flex;
        gap: 10px;
    }

    .navbar {
        padding: 24px 0;
    }

    .navbar-brand {
        padding: 0;
        height: 52px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .navbar-toggler-container {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .navbar-toggler {
        background-color: $white;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        gap: 4px;
        box-shadow: none;

        span {
            width: 22px;
            height: 2px;
            background-color: $black;
            border-radius: 1px;
        }

        @media (max-width: 990px) {
            display: flex;
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                transition: color .3s;
                font-size: 16px;
                line-height: 140%;
                font-weight: 550;
                color: $white;
                padding: 10px;

                &.active {
                    color: $celestial;
                }

                &:hover {
                    color: $celestial;
                }

                &.dropdown-toggle {
                    &::after {
                        border-top: 8px solid;
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;
                        vertical-align: 0;
                        margin-left: 2px;
                    }

                    &.show {
                        color: $celestial;

                        &::after {
                            transform: rotate(180deg);
                            border-top: 8px solid;
                            border-right: 4px solid transparent;
                            border-left: 4px solid transparent;
                        }
                    }
                }

                @media (max-width: 1320px) {
                    font-size: 14px;
                }
            }

            .dropdown-menu {
                background-color: $white;
                padding: 10px;
                border-radius: 20px;
                margin-top: 30px;

                .dropdown-item {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                    color: $black;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    min-height: 40px;

                    &.active {
                        background-color: $celestial;
                        color: $white;
                    }

                    &:hover {
                        background-color: $celestial;
                        color: $white;
                    }

                    &:focus-visible {
                        outline: none;
                    }
                }

                @media (max-width: 990px) {
                    margin-top: 0;
                    box-shadow: none;
                }
            }
        }
    }

    @media (max-width: 991px) {
        min-height: 110px;

        .navbar-brand {
            height: 44px;
        }
    }

    @media (max-width: 480px) {
        min-height: 90px;
    }
}